<div class="aboutus">
    <div class="aboutusimage">
        <h2 class="aboutUsHeader">About Us</h2>
    </div>
    <div class="aboutustext">
        Lorem ipsum dolor sit amet consectetur adipiscing
        elit Vivamus in felis sit amet nisl fringilla feugiat
        Mauris ut libero venenatis ultrices nunc ac,
        tincidunt purus Cras dignissim erat sed facilisis
        cursus Proin sit amet orci leo Duis ut erat nisi
        Nulla ultrices libero non tellus congue ac venenatis
        lectus malesuada Ut fermentum, ante quis
        accumsan condimentum nulla odio tincidunt
        lacus vitae varius nibh felis sit amet lorem Donec
        sit amet nisi non orci auctor imperdiet Donec eu
        iaculis quam Mauris tempus rhoncus nibh
        euismod hendrerit.
        Sed commodo eget urna vitae varius Donec
        tincidunt est vitae sagittis porttitor lectus metus
        volutpat leo non dictum odio ante nec velit
        Phasellus ultricies lectus sit amet vehicula
        vestibulum, quam justo placerat nulla at dapibus
        erat enim nec magna Fusce sit amet neque at nunc
        hendrerit fringilla eu a eros Vestibulum ac
        accumsan turpis Duis ac porta magna, ac ornare
        tellus Vestibulum non facilisis metus eget
        interdum justo Praesent tempus nisl et pretium
        molestie Phasellus pretium risus dolor, eget
        consequat nisi faucibus sed Vestibulum est velit
        dictum vel enim id, euismod venenatis mauris In
        arcu turpis ullamcorper nec sodales maximus,
        mattis eu ipsum Aliquam rutrum purus sit amet
        risus varius consectetur Vestibulum ante ipsum
        primis in faucibus orci luctus et ultrices posuere
        cubilia curae Curabitur dapibus maximus turpis
        pharetra suscipit.
    </div>
</div>