<div class="footer" role="banner">
    <footer>
        <div class="copyrighttext">
            <span>{{copyRightText}}</span>
        </div>
        <div class="socialMediaIcon">
            <a aria-label="Facebook" target="_blank" rel="noopener" href="https://facebook.com/" title="Facebook">
                <i class="fab fa-facebook-f fa-2x"></i>
            </a>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a aria-label="Twitter" target="_blank" rel="noopener" href="https://twitter.com/" title="Twitter">
                <i class="fab fa-twitter fa-2x"></i>
            </a>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a aria-label="Youtube" target="_blank" rel="noopener" href="https://youtube.com/" title="Youtube">
                <i class="fab fa-youtube fa-2x"></i>
            </a>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a aria-label="Instagram" target="_blank" rel="noopener" href="https://instagram.com/" title="Instagram">
                <i class="fab fa-instagram fa-2x"></i>
            </a>
        </div>
    </footer>
  </div>